/* ---------------------------------- 3° Input "Neon Line" ---------------------- */
:root {
  --neon-color: #00f3ff; /* Cian eléctrico vibrante */
  --text-color: #ffffff;
  --label-color: #757575;
  --bg-body: #121212;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-body);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*------------------------------ Componente Neon Input -------------------------------------*/

.input-neon-group {
  position: relative;
  width: 300px;
  margin: 20px;
}

.neon-input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #555;
  background: transparent;
  color: var(--text-color);
  font-family: inherit;
  transition: 0.2s ease all;
}

.neon-input:focus {
  outline: none;
}

/* Label flotante */
.neon-label {
  color: var(--label-color);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

/* Estados Activos (Focus o con contenido) */
.neon-input:focus ~ .neon-label,
.neon-input:valid ~ .neon-label {
  top: -20px;
  font-size: 12px;
  color: var(--neon-color);
  text-shadow: 0 0 8px rgba(0, 243, 255, 0.6); /* Glow en el texto */
}

/* Barra animada inferior */
.neon-bar {
  position: relative;
  display: block;
  width: 100%;
}

.neon-bar::before,
.neon-bar::after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--neon-color);
  transition: 0.2s ease all;
  /* El efecto NEÓN real: sombras brillantes */
  box-shadow:
    0 0 10px var(--neon-color),
    0 0 20px var(--neon-color);
}

.neon-bar::before {
  left: 50%;
}

.neon-bar::after {
  right: 50%;
}

/* Expansión desde el centro */
.neon-input:focus ~ .neon-bar::before,
.neon-input:focus ~ .neon-bar::after {
  width: 50%;
}
