/* ---------------------------------- 3° Input "Neon Line" ---------------------- */
/* Contenedor principal */
.input-group-neon {
  position: relative;
  margin-bottom: 45px; /* Espacio para que no choque con otros */
  width: 100%;
  max-width: 300px;
  font-family: sans-serif;
}

/* El campo de texto */
.input-group-neon input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #555; /* Línea gris inactiva */
  background: transparent;
  color: #fff;
  transition: 0.2s ease all;
}

/* Quitar el borde azul por defecto al hacer clic */
.input-group-neon input:focus {
  outline: none;
}

/* La etiqueta (Label) */
.input-group-neon label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

/* Animación: Mueve el label arriba cuando escribes o haces clic */
.input-group-neon input:focus ~ label,
.input-group-neon input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #f1c40f; /* Amarillo Neón */
}

/* La barra animada inferior */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f1c40f; /* Amarillo Neón */
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* Expande la barra desde el centro */
.input-group-neon input:focus ~ .bar:before,
.input-group-neon input:focus ~ .bar:after {
  width: 50%;
}
