/* ---------------------------------- 2° INPUT ESTILO NETFLIX  ---------------------- */
.input-wrapper {
  position: relative; /* Necesario para que el label absoluto se guíe de aquí */
  width: 400px;
}

.input-wrapper .email {
  width: 100%;
  background-color: rgba(22, 22, 22, 0.7);
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 35px 16px 6px; /* Padding especial: más espacio arriba para que entre el texto chiquito */
  outline: none;
  transition: all 0.2s ease;
}

.input-wrapper .email:focus {
  border: 1px solid white;
  outline: 2px solid white;
  outline-offset: 2px;
}

.input-wrapper .email-label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.input-wrapper .email:focus + .email-label,
.input-wrapper .email:not(:placeholder-shown) + .email-label {
  font-size: 12px;
  top: 15px;
  font-weight: 700;
}
