* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

/*------------------ PROPIEDADES COMPARTIDAS ------------------------------------------*/
.hover_buttons {
  transition: background-color 0.4s ease;
}

.hover_buttons:hover {
  background-color: #cb0000;
}

.subtittles {
  color: #fff;
  font-size: 25px;
  margin: 30px 0 20px 180px;
}

/*-----------------------------------------*/

.primera-pantalla {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.7) 0%,
      /* Centro: Más clarito*/ rgba(0, 0, 0, 0.8) 80% /* Bordes: Muy oscuro*/
    ),
    url(img/fondo.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*--------------------------------------- HEADER --------------------------------*/

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 30px 170px 0 170px;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 10;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-netflix {
  width: 170px;
  margin-top: -65px; /*es nagativo pq la imagen tiene un determinado largo y ancho*/
}

.login {
  background-color: #ff0000;
  height: auto;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;

  user-select: none;
}

.login > a {
  text-decoration: none;
  color: #fff;
}

.select-idioma {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 6.5px 20px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
}

.select-idioma option {
  background-color: white;
  color: black;
}

.select-idioma:focus {
  border: 1px solid white;
  outline: 2px solid white;
  outline-offset: 2px;
}

/*--------------------------------------- 1° SECCIÓN --------------------------------*/

.section_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_1 > h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.section_1 > h2 {
  color: #fff;
  font-size: 20px;
}

.section_1 > h3 {
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-weight: 400;
}

.section_1 > .buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* EFECTO FLOATING LABEL NETFLIX*/

.input-wrapper {
  position: relative; /* Necesario para que el label absoluto se guíe de aquí */
  width: 400px;
}

.input-wrapper .email {
  width: 100%;
  background-color: rgba(22, 22, 22, 0.7);
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 35px 16px 6px; /* Padding especial: más espacio arriba para que entre el texto chiquito */
  outline: none;
  transition: all 0.2s ease;
}

.input-wrapper .email:focus {
  border: 1px solid white;
  outline: 2px solid white;
  outline-offset: 2px;
}

.input-wrapper .email-label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.input-wrapper .email:focus + .email-label,
.input-wrapper .email:not(:placeholder-shown) + .email-label {
  font-size: 12px;
  top: 15px;
  font-weight: 700;
}

/*---------*/

.button-comenzar {
  background-color: #ff0000;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  gap: 15px;
  font-size: 25px;
  font-weight: 600;
}

/* EL ARCO ROJO BRILLANTE DE NETFLIX */
.primera-pantalla::after {
  content: "";
  position: absolute;
  bottom: -2%;

  left: -10%;
  width: 120%;
  height: 70px;

  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;

  background-color: #000000;

  border-top: 5px solid #ff0000;
  z-index: 5;
}

/*--------------------------------------- 2° SECCIÓN PELÍCULAS TENDENCIAS --------------------------------*/
.tendencias {
  margin-bottom: 70px;
  width: 100%;

  position: relative; /* Para que se posicione correctamente respecto al arco */
  z-index: 2;
}

.swiper-slide {
  /* Swiper calcula el width solo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ajusta el contenedor de los slides para que no se desborde */
.swiper {
  width: 100%;
  padding: 20px 50px; /* Espacio para que se vean las flechas */
}

.card-tendencia {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-tendencia:hover {
  transform: scale(1.03);
}

.card-tendencia > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.card-tendencia > .numero-ranking {
  font-size: 120px;
  font-weight: 900;

  color: black;
  -webkit-text-stroke: 2px white;

  position: absolute;
  bottom: 0;
  left: -20px;
  z-index: 1;
}

/* Estilo para las flechas del carrusel */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: 900;
  color: #fff;
  font-size: 40px;
}

/*--------------------------------------- 2° SECCIÓN PELÍCULAS TENDENCIAS (CARGA DEL MODAL) --------------------------------*/

.modal_pelicula {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Esto lo centra perfectamente */
  width: 52%;
  height: 92%;
  background-color: #141414; /* Color oscuro estilo Netflix */
  color: #fff;
  z-index: 1000; /*Para que tape todo lo demás */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  overflow-y: auto; /* Scroll si el texto es muy largo */
}
.ocultar_modal {
  display: none;
}

.cerrar-modal {
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 20px;

  background-color: transparent;
  color: #fff;
  -webkit-text-stroke: 1px #000;
  cursor: pointer;

  font-size: 30px;
  font-weight: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: auto;
  border-radius: 50%;

  transition: all 0.3s ease;
}

.cerrar-modal:hover {
  background-color: rgba(219, 219, 219, 0.4);
}

.img-modal {
  width: 100%;
  height: 65%;
  object-fit: cover;
  object-position: center center;

  /* Efecto de difuminado hacia abajo */
  -webkit-mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.modal-content-text {
  width: 85%;
  height: 35%;

  height: auto;
  margin: auto;
  margin-bottom: 20px;
}

.tittle-modal {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.comienza-modal {
  background-color: #ff0000;
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: 22px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/*Lámina para borrar el fondo cuando se abra el modal*/
.fondo-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900; /* Justo debajo del modal que tiene 1000 */
  backdrop-filter: blur(2px); /* difumina el fondo*/
}

/*-------------------------- 3° SECCIÓN MOTIVOS -----------------------*/
.motivos_container {
  width: 75%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;

  margin: auto;
  margin-bottom: 70px;
  margin-top: 20px;
}

.motivo__item {
  background: linear-gradient(180deg, #192233 0%, #310d3d 100%);
  padding: 30px 20px 100px 20px;
  border-radius: 15px;

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.motivo__item > h5 {
  color: #fff;
  font-size: 25px;
}

.motivo__item > p {
  color: #aaa;
}

.motivo__item > img {
  width: 60px;
  height: auto;
  position: absolute;
  right: 8%;
  bottom: 5%;
}

/*-------------------------- 4° SECCIÓN PREGUNTAS FRECUENTES -----------------------*/
.preguntas_frecuentes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 70px;
}

.pregunta-respuesta {
  width: 75%;
  cursor: pointer;
  user-select: none;

  font-size: 25px;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1px;
}

.pregunta,
.respuesta {
  padding: 30px;
  background-color: #2b2b2b;
  width: 100%;
  height: 100%;
}

.respuesta {
  overflow: hidden;
  /* Estado ABIERTO */
  max-height: 400px; /*necesario poner px pq en % no funciona*/
  padding: 30px;
  opacity: 1;

  /* Animamos altura, padding y opacidad */
  transition: all 0.3s ease;
}

.pregunta {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.pregunta:hover {
  background-color: #3e3e3e;
}

.ocultar_respuesta {
  /* Estado CERRADO */
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  border: none;
}

/*nuevo estilo de rotar el mas a 45° para que se vea como una cruz*/
.fa-plus {
  transition: transform 0.1s ease;
  display: inline-block;
}
.rotar {
  transform: rotate(45deg); /* Gira 45 grados y se convierte en X */
}
/*-------------------------- 5° SECTION -----------------------*/

.container__5section {
  width: 100%;
  height: auto;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__5section > p {
  color: #fff;
  margin-bottom: 15px;
}

.buttons_5section {
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.input-wrapper_5section {
  flex-grow: 1;
}

/*------------------------------- 6° FOOTER ------------------------*/

footer {
  width: 100%;
  color: #b3b3b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 50px;
}

footer > div {
  width: 75%;
}

footer > div > span {
  text-decoration: underline;
  cursor: pointer;
}

.footer__secctions {
  display: flex;
  gap: 100px;
  text-decoration: underline;
}

.footer__secctions > div {
  line-height: 35px;
  font-size: 14px;
}

.footer__secctions > div > span {
  cursor: pointer;
}

footer > div:last-child {
  font-size: 14px;
}

/*------------------------------- RESPOSIVE DESIGN ------------------------*/
/*el responsive va a ser ir por cada sección, y adaptarlo, no todo junto*/

/*------------------------------------- MOBILE ---------------------------*/

@media screen and (max-width: 900px) {
  /*------------------ PROPIEDADES COMPARTIDAS ------------------------------------------*/

  .subtittles {
    margin: 30px 0 20px 30px;
  }

  /*-----------------------------------------*/

  .primera-pantalla {
    height: 90vh;
  }
  /*--------------------------------------- HEADER --------------------------------*/

  .header {
    padding: 30px 40px 0 40px; /**/
  }

  .logo-netflix {
    width: 140px; /**/
    margin-top: -50px; /**/ /*es nagativo pq la imagen tiene un determinado largo y ancho*/
  }

  .login {
    padding: 3px 15px 3px 15px; /**/
  }

  .login > a {
    font-size: 13px; /**/
  }

  .select-idioma {
    padding: 4px 10px; /**/
    font-size: 15px; /**/
  }

  /*--------------------------------------- 1° SECCIÓN --------------------------------*/

  .section_1 > h1 {
    font-size: 40px; /**/
  }

  .section_1 > h2 {
    font-size: 15px; /**/
  }

  .section_1 > h3 {
    font-size: 13px; /**/
  }

  /* EFECTO FLOATING LABEL NETFLIX*/

  .input-wrapper {
    width: 250px;
  }

  .input-wrapper .email {
    padding: 25px 16px 6px; /* Padding especial: más espacio arriba para que entre el texto chiquito */
  }

  .input-wrapper .email-label {
    font-size: 13px; /**/
  }

  .input-wrapper .email:focus + .email-label,
  .input-wrapper .email:not(:placeholder-shown) + .email-label {
    font-size: 10px; /**/
  }

  /*---------*/

  .button-comenzar {
    padding: 5px 15px; /**/
    font-size: 18px; /**/
  }

  /* EL ARCO ROJO BRILLANTE DE NETFLIX */
  .primera-pantalla::after {
    height: 80px;
  }
}

@media screen and (max-width: 550px) {
  /*------------------ PROPIEDADES COMPARTIDAS ------------------------------------------*/
  .subtittles {
    margin: 30px 0 20px 10px;
  }
  /*-----------------------------------------*/

  /*--------------------------------------- HEADER --------------------------------*/

  .header {
    padding: 30px 20px 0 20px; /**/
  }

  .logo-netflix {
    width: 120px; /**/
    margin-top: -45px; /**/ /*es nagativo pq la imagen tiene un determinado largo y ancho*/
  }

  .login {
    padding: 3px 10px 3px 10px; /**/
  }

  .login > a {
    font-size: 12px; /**/
  }

  .select-idioma {
    padding: 2px 5px; /**/
    font-size: 13px; /**/
  }

  /*--------------------------------------- 1° SECCIÓN --------------------------------*/

  .section_1 > h1 {
    font-size: 35px; /**/
  }

  .section_1 > .buttons {
    flex-direction: column;
  }

  /* EFECTO FLOATING LABEL NETFLIX*/

  .input-wrapper {
    width: 100%;
    max-width: 300px;
  }

  .button-comenzar {
    width: 170px;
    font-size: 18px;
  }

  .input-wrapper .email-label {
    font-size: 15px; /**/
  }

  .section_1 > .buttons {
    align-items: center;
  }
}

/*==============================================================================================================================================================================================*/

@media screen and (max-width: 900px) {
  /*--------------------------------------- 2° SECCIÓN PELÍCULAS TENDENCIAS --------------------------------*/
  /* Ajusta el contenedor de los slides para que no se desborde */
  .swiper {
    padding: 20px 20px; /**/ /* Espacio para que se vean las flechas */
  }

  .card-tendencia > .numero-ranking {
    font-size: 90px;
  }

  /*--------------------------------------- 2° SECCIÓN PELÍCULAS TENDENCIAS (CARGA DEL MODAL) --------------------------------*/

  .modal_pelicula {
    width: 90%; /**/
  }
}

/*==============================================================================================================================================================================================*/

@media screen and (max-width: 1000px) {
  /*-------------------------- 3° SECCIÓN MOTIVOS -----------------------*/
  .motivos_container {
    width: 90%;
  }
}

/*==============================================================================================================================================================================================*/

@media screen and (max-width: 900px) {
  /*-------------------------- 4° SECCIÓN PREGUNTAS FRECUENTES -----------------------*/

  .pregunta-respuesta {
    width: 80%;
    font-size: 18px;
    align-items: center;
  }

  .pregunta,
  .respuesta {
    padding: 20px;
  }

  .respuesta {
    max-height: 600px;
  }

  .ocultar_respuesta {
    /* Estado CERRADO */
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    border: none;
  }
}

/*==============================================================================================================================================================================================*/

@media screen and (max-width: 1000px) {
  /*-------------------------- 5° SECTION -----------------------*/

  .container__5section {
    gap: 10px;
    padding: 15px;
  }

  .container__5section > p {
    font-size: 15px;
    color: #fff;
  }

  .buttons_5section {
    width: 100%;

    flex-direction: column;
    align-items: start;

    gap: 10px;
  }

  .input-wrapper_5section {
    width: 90%;
  }
}

/*==============================================================================================================================================================================================*/

@media screen and (max-width: 900px) {
  /*------------------------------- 6° FOOTER ------------------------*/

  footer {
    align-items: start;
    padding-left: 20px;
  }

  .footer__secctions {
    flex-direction: column; /**/
    gap: 0; /**/
  }

  .footer__secctions > div {
    font-size: 13px; /**/
  }
}
