* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

/*------------------ PROPIEDADES COMPARTIDAS ------------------------------------------*/
.hover_buttons {
  transition: background-color 0.4s ease;
}
.hover_buttons:hover {
  background-color: #cb0000;
}

/*-----------------------------*/

.container {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.7) 0%,
      /* Centro: Más clarito*/ rgba(0, 0, 0, 0.8) 80% /* Bordes: Muy oscuro*/
    ),
    url(img/fondo.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*---------------------------------- HEADER --------------------------------*/

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 30px 170px 0 170px;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

.logo-netflix {
  width: 170px;
  margin-top: -65px; /*es nagativo pq la imagen tiene un determinado largo y ancho*/
}

/*---------------------------------- LOGIN --------------------------------*/

.login_container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.login {
  background-color: rgba(0, 0, 0, 0.6);
  width: 34%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  box-sizing: border-box;
}

.login > h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 25px;
}

/* ----------------------------------------- INPUTS ----------------------*/

/*Efecto de texto chiquito al tocar (de los iputs)*/

/* Contenedor de cada input */
.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

/* El INPUT en sí */
.input-field {
  width: 100%;
  padding: 24px 16px 8px; /* Espacio arriba para cuando suba el texto */
  background: rgba(22, 22, 22, 0.7);
  border: 1px solid #5e5e5e;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

/* Efecto borde blanco al hacer click */
.input-field:focus {
  border-color: #fff;
  background: rgba(50, 50, 50, 0.8);
}

/* ERROR: Si el input es inválido (rojo) */
.input-field:invalid:not(:placeholder-shown) {
  border-bottom: 2px solid #ff0404;
}

/* LA ETIQUETA (LABEL) */
.input-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%); /* Centrado vertical perfecto */
  color: #8c8c8c;
  font-size: 16px;
  pointer-events: none; /* Para que el click pase a través del texto al input */
  transition: all 0.2s ease; /* Animación suave */
}

/* Si el input tiene el foco O (,) si no mostramos el placeholder (hay texto escrito) */
.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label {
  top: 8px; /* Sube arriba */
  font-size: 11px; /* Se hace pequeño */
  transform: translateY(0); /* Quitamos el centrado */
  font-weight: 700;
}

/*--------------texto oculto que se activo al clickear----------------*/
.text_oculto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;

  color: #b3b3b3;
  text-align: center;
  font-size: 13px;
}

/*clase para ocultar la contraseña al hacer click, y mostrar el texto, (y vicerversa)s*/
.ocultar_contraseña_texto {
  display: none;
}

/*--------------------------- INICIAR SESIÓN -----------------------------*/

button {
  background-color: #ff0404;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 14px;

  font-weight: 600;
  font-size: 15px;
}

p {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 14px;
  color: #fff;
}

/*-----------------------------CÓDIGO DE INICIO SESIÓN -----------------------*/

.codigo_inicio-sesion {
  background-color: rgba(184, 184, 184, 0.7);
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.codigo_inicio-sesion:hover {
  background-color: rgba(209, 209, 209, 0.7);
}

/*-----------------------------OLVIDO DE CONTRASEÑA -----------------------*/

.olvido_contraseña {
  text-decoration: underline;
  cursor: pointer;
}

.olvido_contraseña:hover {
  color: #575757;
}

/*-----------------------------CHECKBOX RECORDARME -----------------------*/
.input-checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: #fff;
  margin-bottom: 14px;

  gap: 10px;
}

/* EL CHECKBOX PERSONALIZADO */
.checkbox {
  /* Truco: Ocultamos el checkbox feo por defecto del sistema */
  appearance: none;
  -webkit-appearance: none;

  /* Dibujamos nuestro propio cuadrado */
  width: 16px;
  height: 16px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #000000;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  cursor: pointer;
  position: relative; /* Necesario para dibujar el check adentro */
  transition: all 0.3s ease;
}

/* CUANDO ESTÁ MARCADO (CHECKED) */
.checkbox:checked {
  background-color: #ffffff;
}

/*Efectos de hovers*/
.checkbox:checked:hover {
  background-color: #cccccc;
}
.checkbox:hover {
  border: 1px solid #ffffff;
}

/* DIBUJAR EL TICK (✔) */
.checkbox:checked::after {
  content: "✔"; /* Símbolo de check */
  font-size: 12px;
  color: rgb(0, 0, 0);
  position: absolute;
  /* Centrar el símbolo perfectamente */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*--------------------------------SUSCRIPCIÓN------------------*/
.suscripcion {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #b3b3b3;
}

.suscripcion > a {
  color: #fff;
  text-decoration: none;
}

.suscripcion > a:hover {
  text-decoration: underline;
}

/*------------------------------- FOOTER ------------------------*/

footer {
  width: 100%;
  color: #b3b3b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #171717;
  padding: 90px 0;
}

footer > div {
  width: 75%;
}

.footer__secctions {
  display: flex;
  gap: 100px;
  text-decoration: underline;
}

.footer__secctions > div {
  line-height: 35px;
  font-size: 14px;
}

.footer__secctions > div > span {
  cursor: pointer;
}

footer > div:last-child {
  font-size: 14px;
}

/*----------------- selector de idioma ------------------*/
.select-idioma {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 6.5px 20px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease;
  outline: none;
}

.select-idioma option {
  background-color: white;
  color: black;
}

.select-idioma:focus {
  border: 1px solid white;
  outline: 2px solid white;
  outline-offset: 2px;
}

/*-------------------------------------------------- RESPONSOVE DESIGN ------------------------------------------------------*/
@media screen and (max-width: 1250px) {
  /*---------------------------------- HEADER --------------------------------*/

  .header {
    padding: 30px 170px 0 50px; /**/
  }

  .logo-netflix {
    width: 140px; /**/
  }

  /*---------------------------------- LOGIN --------------------------------*/

  .login {
    width: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 850px) {
  /*---------------------------------- LOGIN --------------------------------*/
  .login {
    width: 60%;
  }

  /*------------------------------- FOOTER ------------------------*/

  footer {
    padding: 30px 0;
  }

  footer > div {
    width: 90%;
  }

  .footer__secctions {
    flex-direction: column;
    gap: 20px;
  }

  .footer__secctions > div {
    line-height: 30px;
  }
}

@media screen and (max-width: 700px) {
  /*---------------------------------- LOGIN --------------------------------*/

  .container {
    background-image: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(0, 0, 0)),
      url(img/fondo.jpg);
  }

  .login {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
  }
  .header {
    padding: 30px 170px 0 20px; /**/
  }

  .logo-netflix {
    width: 100px; /**/
    margin-top: -40px;
  }

  .login {
    width: 100%;
  }
}
