/*------------------------------ 12. Soft Skeuomorph (Tactile)-------------------------------------*/

.card-soft {
  width: 300px;
  padding: 30px;
  background: #eee;
  border-radius: 20px;
  /* Sombra compleja para realismo */
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8),
    /* Brillo superior borde */ 0px 1px 2px rgba(0, 0, 0, 0.05),
    /* Sombra pequeña */ 0px 10px 20px rgba(0, 0, 0, 0.05); /* Sombra difusa */
  border: 1px solid #ddd;
  transition: transform 0.1s;
  color: #000;
}
.card-soft:active {
  transform: scale(0.98);
  background: #e8e8e8;
}
