:root {
  /*colores personalizados */
  --bg-color: #000000;
  --bg-secondary: #111111;
  --text-primary: #ffffff;
  --text-secondary: #a1a1a1;
  --accent-color: #a0b800;

  /* Espaciados y bordes */
  --border-radius: 12px;
  --section-spacing: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Utilidad para el contenedor principal */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}
