@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

h1 {
  color: #fff;
  font-size: 50px;
}

.container {
  width: 95%;
  height: auto;
  gap: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------- TABLERO --------------------------*/

.tablero {
  width: 30%;
  height: auto;
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
}

.tablero > div {
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.tablero > div:hover {
  background-color: #121212;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

/*ESTILOS A LOS RECUADROS PARA FORMAR EL # DEL TATETI*/
.cuadro1,
.cuadro2,
.cuadro4,
.cuadro5 {
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
}

.cuadro3,
.cuadro6 {
  border-bottom: 5px solid #ffffff;
}

.cuadro7,
.cuadro8 {
  border-right: 5px solid #ffffff;
}

.cuadro {
  color: #fff;
  font-size: 70px;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------- OPCIONES --------------------------*/

.container__opciones {
  display: flex;
  flex-direction: column;
  gap: 50px;

  color: #fff;
  font-size: 30px;
}

button {
  background-color: #ff0000;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 20px;
}

button:hover {
  background-color: #fe3939;
}

.modal__ganador {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  background-color: #000;

  /* Animación de aparición */
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Clase para mostrar el modal */
.visible {
  opacity: 1;
  visibility: visible;
}

.lamina {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px); /* difumina el fondo*/
}

/* ---------------------------- RESPONSIVE DESIGN --------------------------*/

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .tablero {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .tablero {
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }

  .container__opciones {
    font-size: 25px;
  }

  button {
    font-size: 20px;
  }

  .modal__ganador {
    font-size: 20px;
    width: 80%;
  }
}
