/*-------------------------- 8. The Glass Text (Frosted)---------------------*/

.text-glass-overlay {
  font-size: 36px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.9);
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  display: inline-block;
}
