/*------------------------------ 8. The Stacked Card (Efecto Pila)-------------------------------------*/

.card-stacked {
  width: 300px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 24px;
  position: relative;
  transition: transform 0.2s;
  z-index: 2; /* Asegura que esté arriba */
  color: #000;
}
/* Tarjeta trasera 1 */
.card-stacked::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid #000;
  background: #f0f0f0;
  z-index: -1;
  transform: rotate(3deg); /* Rotación fija */
  transition: transform 0.3s;
}
/* Tarjeta trasera 2 */
.card-stacked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid #000;
  background: #e0e0e0;
  z-index: -2;
  transform: rotate(6deg);
  transition: transform 0.3s;
}
.card-stacked:hover {
  transform: translateY(-5px); /* Se mueve la principal */
}
.card-stacked:hover::after {
  transform: rotate(5deg) translate(5px, 5px);
}
.card-stacked:hover::before {
  transform: rotate(10deg) translate(10px, 10px);
}
