/*------------------ 3° Táctil "3D Press"------------------------------------*/

.btn-3d {
  background-color: #4caf50; /* Color principal */
  color: white;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  /* El truco del 3D es este borde sólido abajo */
  border-bottom: 6px solid #2e7d32;
  transition: all 0.1s; /* Transición muy rápida */
}

.btn-3d:active {
  /* Al hacer click */
  transform: translateY(4px); /* Baja el botón */
  border-bottom: 2px solid #2e7d32; /* Reduce la sombra 3D */
}
