/* ---------------------------------- 1° INPUT BÁSICO  ---------------------- */

.input__basico {
  background-color: #161616;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid #333;
  font-size: 16px;
  color: #fff;
  width: 100%;
  max-width: 300px;
  transition: 0.3s;
}

.input__basico:focus {
  outline: none;
  border-color: #a0b800;
  background-color: #000;
}
