* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Montserrat", sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*------------------------------------- 1. HEADER -------------------------------*/

header {
  width: 90%;
  height: auto;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header > img {
  width: 120px;
  height: auto;
  display: inline-block;
}

.busqueda {
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  border: none;
  font-size: 17px;
  transition: backgraund 0.3s ease;
}

.busqueda:hover {
  background-color: #f7f7f7;
}

.categorias {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.categoria {
  width: auto;
  height: auto;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.categoria:hover {
  transform: scale(1.05);
}

/*propiedad para filtrar los pokemones por categoría*/
.ocultar {
  display: none;
}

/*colores por cada tipo*/
.todos {
  background-color: #f4f4f4;
  text-align: center;
}
.normal {
  background-color: #a8a878;
}
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6890f0;
}
.grass {
  background-color: #78c850;
}
.electric {
  background-color: #f8d030;
}
.ice {
  background-color: #98d8d8;
}
.fighting {
  background-color: #c03028;
}
.poison {
  background-color: #a040a0;
}
.ground {
  background-color: #e0c068;
}
.flying {
  background-color: #a890f0;
}
.psychic {
  background-color: #f85888;
}
.bug {
  background-color: #a8b820;
}
.rock {
  background-color: #b8a038;
}
.ghost {
  background-color: #705898;
}
.dragon {
  background-color: #7038f8;
}
.steel {
  background-color: #b8b8d0;
}
.fairy {
  background-color: #ee99ac;
}

.dragon,
.ghost,
.poison,
.fighting {
  color: #fff;
}
/*------------------------------------- 2. POKEMONES -------------------------------*/

main {
  background-color: #fdfdfd;
  width: 90%;
  padding: 30px 0;

  display: grid;
  place-items: center;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

main > div,
.caja_vacia {
  padding: 10px 40px;
  background-color: #fff;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 330px; /*width fijo para que todas las tarjetas tengan el mismo tamaño*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: all 0.3s ease;
  cursor: pointer;
}

.caja_vacia {
  height: 280px;
}

main > div:hover {
  transform: scale(1.02);
  background-color: #f8f8f8;
}

main > div > img {
  width: 170px;
  height: 170px;
  object-fit: contain;
  height: auto;
}

.tittle_id {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tittle_id > h4 {
  font-size: 30px;
}

.tittle_id > p {
  background-color: #dfdfdf;
  border-radius: 10px;
  padding: 0 13px;
  font-size: 13px;
}

.tipos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.tipos-container > span {
  border-radius: 10px;
  padding: 2px 10px;
}

main > div > p {
  text-align: center;
}

/*------------------------------ MODALES -----------------------------------*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 90%;
  height: 90%;
}

.cerrar-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
}

.cerrar-modal:hover {
  background-color: rgba(231, 231, 231, 0.7);
}

.modal-izquierdo {
  margin-left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-izquierdo > h2 {
  color: #fff;
  font-size: 40px;
}

.img-normal {
  width: 400px;
}

.img-shiny {
  width: 150px;
  height: auto;
}

.modal-derecho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.stats-container {
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.stats-container > p {
  color: #fff;
  font-size: 30px;
}

.modal-derecho > p {
  font-size: 25px;
  color: #fff;
}

/*------------------------------------- RESPONSIVE DESIGN -----------------------------------------------------*/

/*------------------------------ MODALES -----------------------------------*/

/*Tablet*/
@media screen and (max-width: 1000px) {
  .modal-content {
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    height: auto;
  }

  .modal-izquierdo {
    height: auto;
  }

  .modal-izquierdo > h2 {
    font-size: 40px;
  }

  .img-normal {
    width: 300px;
  }

  .img-shiny {
    width: 150px;
  }

  .modal-derecho {
    gap: 10px;
  }

  .stats-container {
    gap: 10px;
  }

  .stats-container > p {
    font-size: 30px;
  }

  .modal-derecho > p {
    font-size: 25px;
  }
}

/*Mobile*/
@media screen and (max-width: 600px) {
  .modal-izquierdo > h2 {
    font-size: 30px;
  }

  .img-normal {
    width: 180px;
  }

  .img-shiny {
    width: 80px;
  }

  .stats-container > p {
    font-size: 20px;
  }

  .modal-derecho > p {
    font-size: 17px;
  }
}
