/*--------------------------  12. The Clipping Mask (Imagen en Texto) ---------------------*/

.text-mask {
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  /* Puedes usar una URL de imagen real aquí o un gradiente complejo */
  background: radial-gradient(circle, #a0b800, #161616);
  background-size: 20px 20px; /* Crea un patrón de puntos */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 2px 0px rgba(255, 255, 255, 0.2));
}
