/*-------------------------- 4. The Terminal Typing (Código) ---------------------*/

.text-terminal {
  font-family: "Courier New", monospace;
  color: #a0b800;
  font-size: 24px;
  border-right: 3px solid #a0b800;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 0.75s step-end infinite;
}

@keyframes blinkCursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #a0b800;
  }
}
