body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0fdf4;
  margin: 0;
}

.trigger-btn {
  padding: 12px 24px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-card {
  background: white;
  width: 700px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  transform: translateY(20px);
  transition: 0.4s;
}

.modal-overlay.active .modal-card {
  transform: translateY(0);
}

.modal-image {
  width: 40%;
  background: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?auto=format&fit=crop&w=500&q=80")
    center/cover;
}

.modal-content {
  width: 60%;
  padding: 40px;
}

.tag {
  background: #a0b800;
  color: white;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4px;
}
h2 {
  margin: 10px 0;
  font-size: 24px;
}
input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.btn-sub {
  width: 100%;
  padding: 12px;
  background: #111;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.btn-sub:hover {
  background: #333;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}
