/*-------------------------- 1. The Gradient Header (Clásico Moderno) ---------------------*/

.text-gradient {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(to right, #ffffff, #a0b800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: -1px;
}
