@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

h1 {
  color: #fff;
  font-size: 40px;
}

.container {
  width: 100%;
  height: auto;
  margin: 5% auto;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

/*----------------------- APARTADO DERECHO --------------------*/

.apartado_derecho {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  gap: 30px;

  font-size: 20px;
}

.apartado_derecho > button {
  background-color: #ff0000;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  cursor: pointer;
  border: none;
}

.apartado_derecho > button:hover {
  background-color: #fe3434;
}

/*-------*/
.tarjetas {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 20px;
  width: fit-content;
}

/*--------------------------------- LÓGICA PARA DAR VUELTA LA TARJETA--------------------------------------------------*/

.tarjeta {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);

  /*lógica para dar vuelta la tarjeta*/
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d; /* Permite que los hijos vivan en espacio 3D */
}

.tarjeta:hover {
  background-color: #1c1c1c;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.99);
}

.lado_adelante,
.lado_atras {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /*  Oculta la cara cuando no mira al usuario */
}

.lado_atras {
  transform: rotateY(180deg); /* Ya nace volteada hacia atrás */
  position: relative;
}

.lado_atras > span {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tarjeta.volteada {
  transform: rotateY(
    180deg
  ); /* Al girar el padre, el lado_atras queda al frente */
}

/*------------------------------------------------ MODALES ------------------------------------------*/

.modal {
  background-color: #000000;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  color: #ffffff;
  position: fixed;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.ocultar_modal {
  display: none;
}

.modal > button {
  padding: 10px 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  background-color: #ff0000;
  border: none;
}

.modal > button:hover {
  background-color: #fe3434;
}

.lamina {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 30px;
  }
  .tarjetas {
    grid-template-columns: repeat(4, minmax(70px, 1fr));
  }
}
