/*------------------------------ 7° The SaaS Gradient (Dark Mode Tech)-------------------------------------*/

.card-gradient {
  width: 300px;
  padding: 24px;
  background: #0f0f0f;
  position: relative;
  border-radius: 16px;
  color: #fff;
  z-index: 1;
}
/* El borde degradado se hace con un pseudo-elemento detrás */
.card-gradient::before {
  content: "";
  position: absolute;
  inset: -2px; /* Grosor del borde */
  border-radius: 18px;
  background: linear-gradient(45deg, #ff00cc, #333399, #00ffff);
  z-index: -1;
  opacity: 0.6;
}
.card-gradient span {
  background: linear-gradient(90deg, #ff00cc, #333399);
  padding: 4px 10px;
  font-size: 10px;
  border-radius: 4px;
  font-weight: bold;
}
