/* Espaciado entre secciones principales */
.section {
  margin-bottom: var(--section-spacing);
}

/* Contenedor del timeline */
.timeline {
  margin-top: 2rem;
  padding-left: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2rem;
}

.about-text {
  color: var(--text-secondary);
  max-width: 70ch;
}
