/*-------------------------- 2. The Glitch Title (Efecto Fallo)---------------------*/
.text-glitch {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  position: relative;
  text-transform: uppercase;
}

.text-glitch::before,
.text-glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111; /* Mismo color que tu fondo */
}

.text-glitch::before {
  left: 2px;
  text-shadow: -1px 0 #a0b800;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.text-glitch::after {
  left: -2px;
  text-shadow: -1px 0 #0ff;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(10px, 9999px, 30px, 0);
  }
  20% {
    clip: rect(80px, 9999px, 100px, 0);
  }
  40% {
    clip: rect(10px, 9999px, 50px, 0);
  }
  100% {
    clip: rect(60px, 9999px, 90px, 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip: rect(60px, 9999px, 90px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 50px, 0);
  }
  100% {
    clip: rect(120px, 9999px, 140px, 0);
  }
}
