/*--------------------------------- 4. The Neo-Brutalist Form (Pop) ----------------------------*/

.login-brutal {
  width: 300px;
  background: #fff;
  border: 3px solid #000;
  padding: 20px;
  box-shadow: 8px 8px 0 #000;
  font-family: sans-serif;
  color: #000;
}

.brutal-title {
  background: #000;
  color: #fff;
  padding: 10px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.login-brutal label {
  font-weight: bold;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}

.login-brutal input {
  width: 100%;
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  background: #f4f4f4;
  outline: none;
}

.login-brutal input:focus {
  background: #a0b800; /* Pop de color al foco */
  color: #000;
}

.login-brutal button {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}

.login-brutal button:hover {
  background: #333;
}

.login-brutal button:active {
  transform: translate(2px, 2px);
}
