* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh; /* Para centrar el juego en la pantalla */
}

h1 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 40px;
}

.simon_container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 10px;
  margin-bottom: 20px;
}

/* Estilo general para todas las cajas */
.simon_container div {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.activo {
  opacity: 1 !important;
  box-shadow: 0 0 15px white;
}

button {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

button:hover {
  background-color: #f93a3a;
}

.ronda_container {
  color: #fff;
  font-size: 20px;
}

/*Modal de Derrota*/
.modalDerrota {
  color: #fff;
  position: fixed;
  z-index: 999;
  background-color: #000;
  width: fit-content;
  padding: 5px 30px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: center;
}
.ocultar {
  display: none;
}
.lamina {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modalDerrota--ronda {
  margin-left: 5px;
}

/* Colores específicos */
.caja1 {
  background-color: #ff0000;
}
.caja2 {
  background-color: #0000ff;
}
.caja3 {
  background-color: #00ff00;
}
.caja4 {
  background-color: #ffff00;
}

/*--------------------- RESPONSVE DESIGN ------------------------------*/

@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
  }

  .simon_container {
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 5px;
    margin-bottom: 10px;
  }

  button {
    font-size: 13px;
  }

  .ronda_container {
    font-size: 13px;
  }

  .modalDerrota {
    padding: 0 10px;
  }
}
