/*-------------------------- 3. The Neon Glow (Luz de Neón) ---------------------*/

.text-neon {
  font-size: 40px;
  color: #fff;
  font-family: monospace; /* Fuente técnica */
  text-shadow: 0 0 5px #a0b800, 0 0 10px #a0b800, 0 0 20px #a0b800,
    0 0 40px #a0b800;
  letter-spacing: 2px;
}
