* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Modo Oscuro (Predeterminado)*/
:root {
  /*Definimos los colores del modo oscuro*/
  --bg-color: #000000;
  --text-color: #ffffff;
}

/*Modo Claro*/
/* Cuando el body tiene la clase, los valores de las variables cambian */
body.modo_claro {
  --bg-color: #ffffff;
  --text-color: #000000;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  user-select: none;
}

/* ----------- PROPIEDADES COMPARTIDAS ------------*/

.hover {
  transition: all 0.4s ease;
}
.hover:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*------------------------------------ HEADER ------------------------------------------*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  color: var(--text-color);
  padding: 10px;
  box-sizing: border-box;

  /* Configuración Sticky para el header fijo */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-color);
}

/*Menú Hamburguesa*/
.header > .fa-bars {
  font-size: 30px;
  margin: 15px 0 15px 20px;
  cursor: pointer;
}

nav {
  position: fixed;
  width: auto;
  height: 100%;
  background-color: var(--bg-color);
  padding: 20px;
  opacity: 0.95;

  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 100;
}

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  height: 100%;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--text-color);
}

nav > ul > li > a:hover {
  color: #db241b;
}
/*Clase que permite ocultar/mostrar el nav del menú hamburguesa*/
.aparecer_menu {
  transform: translateX(-110%);
}
/*---*/

.header > h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.fa-sun {
  font-size: 30px;
  margin: 15px 20px 15px 0;
  cursor: pointer;
}

.header__list {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  gap: 30px;
}

.header__list > li {
  list-style: none;
}

.header__list > li > a {
  text-decoration: none;
  color: var(--text-color);
}

.header__list > li > a:hover {
  color: #db241b;
}

/*------------------------------------ MAIN ------------------------------------------*/
main {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*---------------------------------------- 1° SECCIÓN ------------------------------*/

.section1 {
  width: 100%;
  height: 80%;
  color: var(--text-color);
  display: flex;
  margin-bottom: 50px;
}

.section1__content {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 80px;
}

.section1__tittle {
  font-size: 50px;
  margin-top: 70px;
}

.section1__tittle > span {
  color: #db241b;
}

.section1__text {
  color: #898989;
  margin-top: 10px;
  line-height: 2;
  text-align: justify;
}

.section1__button {
  background-color: #db241b;
  margin-top: 20px;
  border-radius: 20px;
  width: 150px;
  text-align: center;
}

.section1__button > a {
  text-decoration: none;
  color: #ffffff;
}

.section1 > img {
  min-width: 400px;
  width: 50%;
  height: auto;
}

/*--------------------------------- CARRUSEL 1 ------------------------------------*/

.carrusel1__tittle {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px;
}

/* --- Estilos del Carrusel Content --- */
.carrusel-content {
  margin-top: 50px;
  padding-bottom: 50px;
}

.slider {
  display: flex;
  align-items: center;
}

/* Texto del slider */
.slider-txt {
  margin-left: 85px;
  width: 50%;
}

.slider-txt h2 {
  font-size: 40px;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1;
}

.slider-txt p {
  font-size: 18px;
  color: var(--text-color);
  margin-top: 25px;
}

/* Botones */
.buttons {
  margin-top: 50px;
}

.btn-1 {
  display: inline-block;
  padding: 15px 35px;
  border: 2px solid #db241b;
  color: var(--text-color);
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-1:hover {
  background-color: #db241b;
}

/* Imagen del slider */
.slider-img {
  width: 50%;
  text-align: right;
}

.slider-img img {
  width: 550px; /* Tamaño fijo mencionado */
  margin-right: 25px; /* Ajuste para centrado visual */
}

/* --- Personalización de controles de Swiper --- */

/* Flechas de navegación */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 50px;
  color: #db241b;
  font-weight: 1000;
}

/* Paginación (puntos) */
.swiper-pagination-bullet {
  background-color: #d3d2d2;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #db241b;
}

/* --------------------------------- DETALLES NEGOCIO -------------------------------*/

.detalles {
  width: 90vw;
  height: auto;
  margin-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detalles > h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 40px;
  letter-spacing: 5px;
}

.detalles__content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 80px;
  line-height: 3;
}

.detalles__tittle {
  color: #b7b7b7;
  font-size: 25px;
}

.detalles__text {
  color: var(--text-color);
}

.detalles__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}

.detalles__icons-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: var(--text-color);
}

.detalles__icons-row .fa-brands {
  cursor: pointer;
  font-size: 30px;
}

/* --------------------------------- MAPA -------------------------------*/

.mapa {
  margin-bottom: 100px;
  filter: grayscale(40%) invert(90%) contrast(100%);
}

/* --------------------------------- FOOTER -------------------------------*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  width: 90%;
  height: auto;
  margin-bottom: 20px;
  padding: 20px;
}

/* ----------------------- ANIMACIÓN AL HACER SCROLL ------------------------ */

/* Clase inicial: oculta el elemento */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
  visibility: hidden;
}

/* Clase que aplicará JS cuando el elemento sea visible */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/*-------------------------------- RESPONSIVE DESIGN -----------------------------------*/

@media screen and (max-width: 1200px) {
  /*----------------------------- HEADER ---------------------------*/

  .header > h1 {
    font-size: 30px; /**/
  }

  .header__list {
    display: none; /**/
  }

  nav {
    opacity: 0.9;
  }

  /*------------------------------------ MAIN ------------------------------------------*/

  /*---------------------------------------- 1° SECCIÓN ------------------------------*/

  .section1 {
    flex-direction: column;
  }

  .section1__content {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .section1__tittle {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
  }

  .section1__text {
    text-align: center;
  }

  .section1 > img {
    align-self: center;
  }

  /*--------------------------------- CARRUSEL 1 ------------------------------------*/

  .carrusel1__tittle {
    font-size: 30px;
  }

  .container {
    width: 90%;
    margin-bottom: 0;
  }

  /* --- Estilos del Carrusel Content --- */
  .carrusel-content {
    margin-top: 50px;
    width: 100%;
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* Texto del slider */
  .slider-txt {
    margin: 0 auto;
    width: 100%;
  }

  .slider-txt h2 {
    font-size: 25px;
    text-align: center;
  }

  .slider-txt p {
    font-size: 15px;
    text-align: center;
  }

  /* Botones */
  .buttons {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-1 {
    padding: 5px 15px;
  }

  /*Estilos para las imágenes*/
  .slider-img {
    width: 100%;
    text-align: center;
  }

  .slider-img img {
    width: 200px;
    margin-right: 0;
  }

  /* Flechas de navegación */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 40px;
  }

  /*Aumentar el margen de los botones de paginación*/
  .swiper {
    padding-bottom: 40px;
  }

  /* --------------------------------- DETALLES NEGOCIO -------------------------------*/

  .detalles {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
  }

  .detalles__content {
    flex-direction: column;
    text-align: center;
    gap: 5px;
    align-items: center;
  }

  /* --------------------------------- MAPA -------------------------------*/

  .mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 20px;
  }
}

/*
Paleta de colores:
#000
#fff
#db241b (rojo)
*/
