* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Modo Oscuro (por defecto)*/
:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  --box-shadow-button: 0 0 20px rgba(255, 255, 255, 0.35);
}

/*Modo claro*/
/* Cuando el body tiene la clase, los valores de las variables cambian */
body.modo_claro {
  --bg-color: #ffffff;
  --text-color: #000000;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  --box-shadow-button: 0 0 20px rgba(0, 0, 0, 0.35);
}

html {
  overflow-y: hidden;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  user-select: none;
  position: relative;
}

/* ----------------------------------------- HEADER ---------------------------------*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: var(--text-color);
  padding: 10px;
  box-sizing: border-box;
  position: absolute;

  /* Configuración Sticky para el header fijo */
  z-index: 1000;
  background-color: var(--bg-color);
  top: 0;
}

/*Menú Hamburguesa*/
.header > .fa-bars {
  font-size: 30px;
  margin: 15px 0 15px 20px;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 10%;
  left: 0;
  width: auto;
  height: 100%;
  background-color: var(--bg-color);
  padding: 20px;
  opacity: 0.95;

  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 100;
}

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  height: 100%;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--text-color);
}

nav > ul > li > a:hover {
  color: #db241b;
}
/*Clase que permite ocultar/mostrar el nav del menú hamburguesa*/
.aparecer_menu {
  transform: translateX(-110%);
}
/*---*/

.header > h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.fa-sun {
  font-size: 30px;
  margin: 15px 20px 15px 0;
  cursor: pointer;
}

.header__list {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  gap: 30px;
}

.header__list > li {
  list-style: none;
}

.header__list > li > a {
  text-decoration: none;
  color: var(--text-color);
}

.header__list > li > a:hover {
  color: #db241b;
}

/* ----------------------------------------- LOGIN ---------------------------------*/

/* Contenedor principal para la perspectiva */
.card-container {
  border-radius: 16px;
  width: 400px;
  height: 450px;
  perspective: 1000px;
}

/* El elemento que realmente gira */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

/* Clase para activar el giro */
.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.formulario {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  position: absolute;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden; /* Oculta la parte trasera al girar */
  margin: 0; /* Resetea el margen para que encajen perfecto */
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #db241b;
  width: 100%;
  color: var(--text-color);
}

.input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-bottom: 2px solid #db241b;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-bottom-color: #db241b;
}

.input::placeholder {
  color: #aaa;
  letter-spacing: 1px;
}

.link {
  text-decoration: none;
  color: #48e;
  font-size: 14px;
  margin-bottom: 20px;
  transition: color 0.3s;
}

.link:hover {
  color: #1a5bb8;
}

.button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  color: #fff;
  background-color: #db241b;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow-button);
}

.button:hover {
  background-color: #ff2f24;
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-button);
}

.cambio_tarjeta {
  margin-top: 15px;
  margin-bottom: 0;
  color: #888;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.3s;
}

.cambio_tarjeta:hover {
  color: #db241b;
  text-decoration: underline;
}

/* Cara trasera (Registro) */
.back {
  transform: rotateY(180deg);
}

/* ----------------------- ANIMACIÓN AL HACER SCROLL ------------------------ */

/* Clase inicial: oculta el elemento */
.reveal {
  opacity: 0;
  transition: all 0.5s ease-out;
  visibility: hidden;
}

/* Clase que aplicará JS cuando el elemento sea visible */
.reveal.active {
  opacity: 1;
  visibility: visible;
}

/* ----------------------- RESPONSIVE DESIGN ------------------------ */

@media screen and (max-width: 550px) {
  .card-container {
    width: 95vw;
  }
}
