* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Modo Oscuro (por defecto)*/
:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --hover-color: #151515;
  --box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

/*Modo claro*/
/* Cuando el body tiene la clase, los valores de las variables cambian */
body.modo_claro {
  --bg-color: #ffffff;
  --text-color: #000000;
  --hover-color: #e5e5e5;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  user-select: none;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ---- PROPIEDADES COMPARTIDAS ----*/
.hover {
  box-shadow: 0 4px 15px rgba(255, 144, 0, 0.3);
  border: none;
  transition: 0.3s;
}

.hover:hover {
  background-color: #db241b;
  transform: translateY(-2px);
}

/* ---------------------------- HEADER ----------------------------*/

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;

  /* Configuración Sticky para el header fijo */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  transition: all 0.3s ease;
}

/*--Menú Hamburguesa--*/
.header > .fa-bars {
  font-size: 30px;
  margin: 15px 0 15px 20px;
  cursor: pointer;
  color: var(--text-color);
}

nav {
  position: fixed;
  width: auto;
  height: 100%;
  background-color: var(--bg-color);
  padding: 20px;
  opacity: 0.95;

  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 100;
}

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  height: 100%;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--text-color);
}

nav > ul > li > a:hover {
  color: #db241b;
}
/*Clase que permite ocultar/mostrar el nav del menú hamburguesa*/
.aparecer_menu {
  transform: translateX(-110%);
}
/*---*/

.fa-sun {
  font-size: 30px;
  margin: 15px 20px 15px 0;
  cursor: pointer;
  color: var(--text-color);
}

/*-------------------------*/

.fa-cart-shopping {
  font-size: 50px;
  margin-top: 10px;
  color: #db241b;
  cursor: pointer;
}

/*------ Carrito de compras -----*/

.carrito__container {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: 110%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 400px;

  /* Ocultar barra en Firefox */
  scrollbar-width: none;
  /* Ocultar barra en IE y Edge antiguo */
  -ms-overflow-style: none;

  /*Fondo*/
  background-color: rgba(135, 135, 135, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
}

/* Ocultar barra de scrollY en Chrome, Safari y Opera */
.lista-carrito__container::-webkit-scrollbar {
  display: none;
}

.carrito__container > .text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.carrito__producto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.carrito__producto > img {
  width: 100px;
  height: auto;
}

.carrito__producto > .cruz {
  background-color: #db241b;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}

.buttons__carrito {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.vaciar_carrito,
.comprar,
.descuento,
.confirmacion_compra-aceptar,
.confirmacion_decuento {
  background-color: #db241b;
  color: #fff;
  width: 190px;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  cursor: pointer;
}

.confirmacion_decuento {
  margin-top: 15px;
}

.descuento {
  padding: 0 5px;
  box-sizing: border-box;
}

.confirmacion_compra-aceptar {
  margin-top: 10px;
}

/*Recuadro para confirmar la compra*/
.confirmacion,
.descuento__container {
  width: 400px;
  height: auto;
  text-align: center;
  position: fixed;
  z-index: 2000;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 20px;
  padding: 20px;
}

/*Input del código de descuento*/
.descuento__container > input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: #db241b;
}

.descuento__container > input:hover {
  background-color: var(--hover-color);
}

.descuento__container > input:focus {
  outline: none;
}

/*-------*/

/*Propiedad para ocultar el cuadro de compra, el cartel que se acabó el stock, y la lamina borrosa y el cartel del código de descuento*/
.ocultar {
  display: none;
}

/*Lámina para desenfocar el fondo al aparecer el cartel*/
.lamina {
  position: fixed;
  z-index: 1500;
  width: 100%;
  height: 100%;

  /*Fondo borroso*/
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/*Lógica que al tocar la cruz se elimine el elemento*/
.sacar_cruz {
  display: none;
}

/*Lógica que al tocar el carrito, aparezcan los productos*/
.ocultar__carrito {
  display: none;
}

/* ----- Filtro de los productos ------ */
.filtro {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  color-scheme: dark;
}

.filtro:focus {
  outline: none;
  border: none;
}

.filtro:hover {
  background-color: var(--hover-color);
}

/* ---------------------------- MAIN ----------------------------*/

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  width: 100%;
  color: var(--text-color);
  margin: 30px 0 30px 0;
}

/* ---------------------------- PRODUCTOS ----------------------------*/

.productos__tittle {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  letter-spacing: 5px;
  color: var(--text-color);
  margin: 20px 0 20px 0;
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2, 1fr;
  width: 80%;
  gap: 50px;

  margin: 0 auto 50px auto;
}

/*cambio en burritos debido a que son solo 3 imagenes, y sino no queda centrado*/
.burritos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2, 1fr;
  width: 60%;
}

.productos__prod {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--bg-color);
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: var(--box-shadow);
  border-top: 5px solid #ff9000;
  transition: 0.3s;
}

.productos__prod:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}

.productos__prod > img {
  width: 150px;
  height: auto;
}

.productos__prod > h3 {
  color: var(--text-color);
}

.productos__prod > p {
  margin: 0;
  color: var(--text-color);
}

.productos__prod > span {
  color: #db241b;
}

.productos__prod > p:last-of-type {
  color: var(--text-color);
}

.productos__prod > div,
.button__cargar-mas {
  background-color: #db241b;
  color: #fff;
  box-sizing: border-box;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

/*Efecto que al tocar "Agregar al Carrito" aparezca una cartel confirmandolo*/
.confirmacion__carrito {
  top: 40%;

  /* Propiedades de animación */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.activo {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

/*Efecto de "cargar mas" en las 4 tarjetas de abajo, con la etiqueta de "oculto"*/
.oculto {
  display: none;
}

.button__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button__cargar-mas {
  margin: auto;
  font-size: 20px;
}

/* ----------------------- ANIMACIÓN AL HACER SCROLL ------------------------ */

/* Clase inicial: oculta el elemento */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
  visibility: hidden;
}

/* Clase que aplicará JS cuando el elemento sea visible */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* ------------------------------- RESPONSIVE DESIGN --------------------------------------*/
@media screen and (max-width: 1300px) {
  h1 {
    font-size: 50px;
  }

  /*------ Carrito de compras -----*/

  .buttons__carrito {
    gap: 10px;
    font-size: 12px;
  }

  .vaciar_carrito,
  .comprar,
  .confirmacion_compra-aceptar {
    width: 100px;
  }

  /*Recuadro para confirmar la compra*/
  .confirmacion {
    width: 300px;
  }

  .filtro {
    display: none;
  }

  /* ---------------------------- PRODUCTOS ----------------------------*/
  .carrito__container {
    max-height: 300px;
  }

  .productos__tittle {
    font-size: 25px;
  }

  .productos {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 90%;
  }
}
