* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Modo Oscuro (por defecto)*/
:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  --box-shadow-button: 0 0 20px rgba(255, 255, 255, 0.35);
}

/*Modo claro*/
/* Cuando el body tiene la clase, los valores de las variables cambian */
body.modo_claro {
  --bg-color: #ffffff;
  --text-color: #000000;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  --box-shadow-button: 0 0 20px rgba(0, 0, 0, 0.35);
}

html {
  overflow-y: hidden;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*------------ PROPIEDADES COMPARTIDAS -----------------------*/

.hover {
  transition: all 0.4s ease;
}
.hover:hover {
  transform: scale(1.02);
  opacity: 0.7;
}

.focus:focus {
  outline: none;
}

.fa-brands {
  font-size: 40px;
}

/*---*/

/* ----------------------------------------- HEADER ---------------------------------*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: var(--text-color);
  padding: 10px;
  box-sizing: border-box;
  position: absolute;

  /* Configuración Sticky para el header fijo */
  z-index: 1000;
  background-color: var(--bg-color);
  top: 0;
}

/*Menú Hamburguesa*/
.header > .fa-bars {
  font-size: 30px;
  margin: 15px 0 15px 20px;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 10%;
  left: 0;
  width: auto;
  height: 100%;
  background-color: var(--bg-color);
  padding: 20px;
  opacity: 0.95;

  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 100;
}

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  height: 100%;
}

nav > ul > li {
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--text-color);
}

nav > ul > li > a:hover {
  color: #db241b;
}
/*Clase que permite ocultar/mostrar el nav del menú hamburguesa*/
.aparecer_menu {
  transform: translateX(-110%);
}
/*---*/

.header > h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.fa-sun {
  font-size: 30px;
  margin: 15px 20px 15px 0;
  cursor: pointer;
}

.header__list {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  gap: 30px;
}

.header__list > li {
  list-style: none;
}

.header__list > li > a {
  text-decoration: none;
  color: var(--text-color);
}

.header__list > li > a:hover {
  color: #db241b;
}

/* ----------------------------------------- PAGO ---------------------------------*/

.container {
  width: 30vw;
  height: auto;
  background-color: var(--bg-color);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
}

.container__icons {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.icono_pago {
  background-color: #fff;
  width: 30%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--box-shadow-button);
  padding: 5px;
  box-sizing: border-box;
}

.text__arriba {
  color: var(--text-color);
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #db241b;
  margin-bottom: 0;
  margin-top: 0;
}

label {
  color: var(--text-color);
  font-size: 15px;
  cursor: pointer;
}

input {
  width: 100%;
  border-radius: 10px;
  background-color: #eeeeee;
  border: none;
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  display: block;
}

.date {
  width: 60%;
  display: inline-block;
}

.cvv {
  width: 35%;
  display: inline-block;
  margin-left: 8px;
}

.button {
  display: block;
  color: #fff;
  width: 100%;
  background-color: #000000;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  height: 20%;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow-button);
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(219, 36, 27, 0.6);
}

/* ----------------------- ANIMACIÓN AL HACER SCROLL ------------------------ */

/* Clase inicial: oculta el elemento */
.reveal {
  opacity: 0;
  transition: all 0.5s ease-out;
  visibility: hidden;
}

/* Clase que aplicará JS cuando el elemento sea visible */
.reveal.active {
  opacity: 1;
  visibility: visible;
}

/* ----------------------- RESPONSIVE DESIGN ------------------------ */

@media screen and (max-width: 1200px) {
  .container {
    width: 47vw;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 72vw;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }
}
