:root {
  --primary: #a0b800;
  --dark: #0d0d0d;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px; /* Grande al inicio */
  transition: 0.6s;
  z-index: 1000;
  box-sizing: border-box;
}

/* Clase que JS añadirá al hacer scroll */
header.sticky {
  padding: 15px 100px; /* Se encoge */
  background: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
  backdrop-filter: blur(10px); /* Efecto cristal */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.logo {
  position: relative;
  font-weight: 700;
  color: #000; /* Color inicial */
  text-decoration: none;
  font-size: 2em;
  transition: 0.6s;
}

header.sticky .logo {
  color: #fff; /* Color al bajar */
}

header ul {
  position: relative;
  display: flex;
  gap: 30px;
  list-style: none;
}

header ul li a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.6s;
}

header.sticky ul li a {
  color: #fff;
}

header ul li a:hover {
  color: var(--primary);
}

.btn-action {
  padding: 10px 20px;
  background: var(--primary);
  color: #fff !important;
  border-radius: 20px;
}

/* Secciones de relleno */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.content {
  height: 200vh;
  padding: 50px;
}
