/*------------------------------ 4. Card Claymorphism (3D Soft) -------------------------------------*/

.card-clay {
  width: 300px;
  padding: 30px;
  background: #f0f4f8;
  border-radius: 30px;
  /* La magia del Clay: sombra externa + sombra interna (luz) */
  box-shadow: 12px 12px 24px #b8b9be, -12px -12px 24px #ffffff,
    inset 2px 2px 5px rgba(255, 255, 255, 1),
    inset -2px -2px 5px rgba(0, 0, 0, 0.05);
  color: #444;
  border: none;
}
